<!DOCTYPE html>
<html lang="en">
{{template "head"}}

<body class="font-serif dark:bg-neutral-900 dark:text-neutral-50">
  <div class="max-w-2xl mx-auto px-6">
    {{template "navbar" .SiteData.NavLinks}}
    <main>
      {{template "intro"}}
      <ul class="pb-20 mt-6">
        {{range .BlogPosts}}
        <li class="py-4">
          <article>
            <span class="dark:text-neutral-200">
              {{.PublishedAtDisplay}}
            </span>

            <div class="mt-0.5">
              <a class="font-medium text-gray-800 dark:text-neutral-50 text-xl hover:underline"
                href="/blog/{{.Slug}}">
                <h2>
                  {{.Title}}
                </h2>
              </a>
            </div>
          </article>
        </li>
        {{end}}
      </ul>
    </main>
  </div>
</body>
</html>

