<!DOCTYPE html>
<html lang="en">
{{template "head"}}

<body class="font-serif">
  <div class="max-w-2xl mx-auto px-6">
    {{template "navbar" .SiteData.NavLinks}}
    <main>
      <ul class="pb-20">
        {{range .BlogPosts}}
        <li class="py-4">
          <article>
            {{.PublishedAtDisplay}}

            <div class="mt-0.5">
              <a class="font-medium text-gray-800 text-xl hover:underline"
                href="/blog/{{.Slug}}">
                <h2>
                  {{.Title}}
                </h2>
              </a>
            </div>
          </article>
        </li>
        {{end}}
      </ul>
    </main>
  </div>
</body>
</html>

