{{define "intro"}}
<p>
  Hi, I'm Areeb.
  I do network infra things at <a href="https://www.linkedin.com/" class="underline">linkedin</a> in NYC.
  You can find me elsewhere on <a href="https://github.com/lazyIoad/" class="underline">github</a>,
  <a href="https://twitter.com/lazyIoad" class="underline">twitter</a>, or
  <a href="mailto:hi@lazyloading.net" class="underline">email</a>.
</p>
{{end}}
